/* ---------------------------------- */
/* SECTION SIDE*/
#aboutme {
  position: relative;
}
#profile {
  display: flex;
  justify-content: center;
}
#experience {
  position: relative;
}
/* ---------------------------------- */
section {
  height: 100vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.background-profile-info {
  background: #0b192c;
}
.profile-image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 200px;
  filter: contrast(70%);
}
.profile-image {
  height: 400px;
  width: 400px;
  margin: auto 0;
}
.container-profile {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.social-info-container {
  padding-top: 11px;
}
.social-info-container img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}
/* ---------------------------------- */
/* PROFILE */
/* ---------------------------------- */
.info-list {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.info-list h1,
p,
h2 {
  color: white;
}
.info-list p {
  font-size: 1.2rem;
  font-weight: 600;
}
.info-list h1 {
  font-size: 2.5rem;
}
.info-list h2 {
  font-size: 1.5rem;
}
.btn-info {
  padding-top: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.btn-info button {
  padding: 8px 16px;
  cursor: pointer;
  background: #1e3e62;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 7px;
}
/* ---------------------------------- */
/* END PROFILE*/
/* ---------------------------------- */
/* ---------------------------------- */
/* ABOUT ME */
/* ---------------------------------- */
.background-about-me {
  background: #1e3e62;
}
.context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.context p {
  font-size: 1.063rem;
}
.context h1 {
  color: #ff6500;
  font-size: 2.5rem;
}
.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  width: 500px;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}
.details-container img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.aboutme_image img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10%;
}
/* ---------------------------------- */
/* GRID LAYOUT*/
/* ---------------------------------- */
.flex-details {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.details {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: stretch;
  justify-items: stretch;
  gap: 20px;
}
.brief_aboutme_text {
  grid-column: 1 / 3;
}
.list-experince-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  justify-items: center;
}
#card-two {
  grid-column: 2 /3;
}
/* PROJECT GRID */
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
/* ---------------------------------- */
/* END ABOUT ME*/
/* ---------------------------------- */
/* ---------------------------------- */
/* EXPERIENCE*/
/* ---------------------------------- */
.background-experience {
  background: #0b192c;
}
.list-experience {
  border: 1px solid black;
  padding: 20px;
  grid-column: 1/2;
  width: 100%;
}

.article-container {
  display: flex;
  gap: 15px;
}
.checkmark-img img {
  width: 32px;
}
.technologies h3 {
  color: #ff6500;
}
.carrer-title h2 {
  text-align: center;
  padding-bottom: 15px;
}
article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
}
/* ---------------------------------- */
/* PROJECTS*/
/* ---------------------------------- */
.background-project {
  background: #1e3e62;
}
.project-image img {
  width: 100%;
}
.project-list-container {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.flex-projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 35px;
}
